<h1>Identify</h1>
<form action="/identify" method="POST">
    <div>
        <label for="userID">Username:</label>
        <input type="text" id="userID" name="userID" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Identify</button>
</form>